Hi, I'm 70% water, sleep 8 hours a night, get my 5 a day and oh yeah I code in <span style="color:red">Ruby</span>.


Born from an unparalleled desire for awesomeness, 13 years ago I discovered the internet and started putting sites together. Not much else has changed :-)

