<h3>Whatup holmes,</h3> <p>I'm 70% water, sleep 8 hours a night, get my 5 a day and oh yeah I code in <span style="color:red">Ruby</span>.</p>

<p>
Born from an unparalleled desire for awesomeness, 13 years ago I discovered the internet and started putting sites together. Not much else has changed :-)
</p>

<p>
I'm 3 parts developer, 2 parts businessman and 1 part Arsenal fanatic.
</p>

<h3>This site</h3>
<p>Built quickly using Git, Heroku and most important Ruby</p>

