<!doctype html> 
<html> 
  <head> 
    <link rel="stylesheet" type="text/css" href="/css/main.css"> 
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" /> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Simon Reed - Ruby/Rails Developer in London</title> 
  </head> 
  <body> 
	<header id="me"><h1><a href="/">Simon Reed</a><img src="/images/ruby-greyscale.png"></h1></header> 
	<section> 	
		<a href="/index">Blog</a> 
		|
		<a href="http://www.nicetripper.com/about_us">What have I done?</a> 		
		|		
		<a href="http://github.com/simonreed">What does that look like?</a> 
		|
		<a href="http://twitter.com/simonreed">Twitter</a> 		
		|
		<a href="http://linkedin.com/in/simonpreed">LinkedIn</a>		
	</section> 
    <section> 
      <%= yield %>  
    </section> 
    <footer> 
		<a href="/about">Brought to you</a> by the word awesome and the number 9.
    </footer> 
<a href="http://github.com/simonreed/simonreed.info"><img style="position: absolute; top: 0; left: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  </body> 
</html> 

