<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>Simon Reed - Ruby Developer in London</title>
  </head>
  <body>
	<header><a href="/">Simon Reed (Ruby Developer)</a></header>
	<section>
		<a href="http://github.com/simonreed">Check out my github account</a>
	</section>
    <section>
      <%= yield %> 
    </section>
    <footer>
		<a href="/about">Brought to you</a> in combination with word awesome and the number 9.
    </footer>
  </body>
</html>

