<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title>awesomeness | <%= title %></title>
  </head>
  <body>
	<header>Simon Reed (Ruby Developer)</header>
    <section>
      <%= yield %> 
    </section>
    <footer>
		Brought to you in combination with word awesome and the number 9.
    </footer>
  </body>
</html>

